@import "tailwindcss";
@import "./theme.css";

@theme inline {
  /* Dynamic Variables mapped to theme.css */
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  
  --color-surface: var(--surface);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-surface-variant: var(--surface-variant);
  
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  
  --color-neutral: var(--neutral);
  
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-foreground: var(--on-surface);
  --color-border: var(--outline-variant);

  --font-sans: var(--font-inter), var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--on-surface);
  font-family: var(--font-sans);
}